name: Build and Send APK to Telegram
on:
  push:
    branches:
      - ci-branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'


      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable



      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release


      - name: Test Telegram
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          curl -X POST "https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendMessage" \
               -d chat_id="$TELEGRAM_CHAT_ID" \
               -d text="CI is working"
